body {
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    
}
h1 {
    font-family: 'Graphik', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-family: 'Graphik', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}
p {
    font-size: 14px;
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    line-height: 20px;
}
hr {
    height: 2px;
    width: 30px;
    background-color: #fc0505;
    margin-right: -1px;
    margin-bottom: -10px;
}

.home {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0;
}
.home-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}
.home-text img {
    height: 50px;
    width: 100px;
}
.text-header {
    width: 47%;
    color: #b0b2b4;
    text-align: left;   
}
.home-text a {
    padding-top: 50px;
    padding-left: 15px;
    color: #b0b2b4;
    text-decoration: none;
    align-self: flex-start;
    margin-left: -15px;
}
.home-text a i {
    font-size: 12px;
    padding-right: 5px;
}
.home-items {
    
    height: 88%;
    position: absolute;
    z-index: 1;
    right: 17%;
    top: 21%;
}
.items-img {
    height: 100%;   
}
.home-backg {
    background-image: url(../img/Group8.png);
    background-size: 102%;
    width: 620px;
    height: 580px;
    position: absolute;
    right: 0;
    top: 0%;
    z-index: 0;
}
.task {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-text {
    width: 50%;
    padding-inline-start: 10px;
    margin-left: -140px;
}
.design {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.design-caption0 {
    width: 60%;
    display: flex;
    justify-content: left;
    margin-left: -1%;   
}
.design-caption1 {
    display: flex;
    flex-direction: row;
    width: 61%;
    margin: 20px 0;
}
.design-caption1-slade {
    display: flex;
    flex-grow: 1;
}
.design-caption1 img {
    width: 400px;
    height: 200px;
    
}
.design-caption1-outset {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 2;
    text-align: right; 
}
.design-caption2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}
.design-caption2 img {
    width: 400px;
    height: 200px;
    
}
.design-caption3 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    margin: 20px 0;
}
.design-caption3 img {
    width: 400px;
    height: 200px;
    padding: 0 20px; 
}
.design-caption-backg {
    width: 650px;
    height: 620px;
    background-color: #fc0505;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: -50px;
    z-index: -1;
}
.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.booking-header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.booking-header p {
    margin-top: -10px;
}
.booking-icons {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.booking-icons img {
    width: 30px;
    height: 30px;
}
.booking-icons div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}
.booking-table {
    display: flex;
    justify-content: center;
    width: 100%;    
}
.table-title {
    padding: 40px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.table-head { 
    width: 90%;
    text-align: center;      
}
.td-border  {
    font-size: 16px;
    border-bottom: 1px solid #050505;
    font-weight: bold;   
}
span {
    color: #fc9105;
    font-weight: bolder;
    font-size: 16px;
    padding: 0 6px;
}
.tab-block {
    width: 100%;
    text-align: left; 
}
.tab-block img {
    width: 40px;
    height: 40px;
}
th {
    font-size: 16px; 
    height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #050505;
}
tr {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.table-title h3 {
    font-weight: 400;
    padding-left: 10px;
}
.table-title-link {
    position: relative;
    border: 1px solid #580202;
    width: 100px;
    height: 100px;
    align-self: center;
    display: flex;
    border-radius: 50%;
    background-color: #fc0505;
    align-items: center;
}
.table-title-link_plus {
    color: #ddd7d7;
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #1d1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
    right: 1px;
}
.table-title-link a {
    color: #ddd7d7;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.mobile {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.mobile-header {
    color: #ffffff;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.mobile-header p {
    width: 70%;
    margin-top: -10px;
}
.mobile-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    padding: 20px 0;
}
.mobile-info h1 {
    color: #fc0505;
    font-size: 1.5em;
}
.mobile-info p {
    color: #ddd7d7;
    margin-top: -20px;
}
.mobile-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile-info img {
    height: 13px;
    width: 8px;
    margin-bottom: -12px;
    padding-top: 10px;
}
.mobile-footer {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    width: 60%;
    position: relative; 
}
.mobile-footer h1 {
    color: #ddd7d7;
}
.mobile-footer p {
    color: #ddd7d7;
    font-size: 14px;
}
.mobile-footer-outset {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 53%;
    z-index: 1;
}
.mobile-footer-image {
    position: absolute;
    width: 380px;
    right: -20px;
    top: 100px;  
}
.mobile-footer-image img {
    width: 100%;
}
.other_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px; 
}
.other_work-header {
    width: 60%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.other_work-header a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    background: linear-gradient(284.86deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}
.other_work-header p {
    font-size: 12px;
}
.other_work-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;  
}
.other_work-info-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;     
}
.other_work-info-img-1 {
    background-image: url(../img/Rectangle2.png);
    background-size: 350px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; 
    height: 220px;  
    border-radius: 5px; 
    color: #ddd7d7;
}
.link-1 {
    height: 60px;
    width: 60px;
}
.link-2 {
    height: 60px;
    width: 70%;
}
.arrow-icon { 
    width: 111px;
    height: 7px; 
    padding-bottom: 25px;
}
.other_work-info-img-2 {
    background-image: url(../img/Rectangle1.png);
    background-size: 350px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 220px;
    border-radius: 5px; 
    color: #ddd7d7;
}
.contacts {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
.contacts hr {
    background-color: #C4C4C4;
    height: 1px; 
}
.contacts p {
    font-size: 12px;
}
.contacts-info{
    color: #ddd7d7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%; 
}
.contacts-info a {
    text-decoration: none;
    color: #ddd7d7;
}
.contacts-info-heading {
    display: flex;
    flex-direction: column;  
    padding-right: 20px;
}
.contacts-info-heading a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    background: linear-gradient(284.86deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}
.contacts-info-heading p {
    width: 117%;
    font-size: 12px;
}
.contacts-info-tel {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    margin-left: 20px;
}
.contacts-info-tel i {
    padding-right: 10px;
}
.contacts-info-tel ul {
    list-style-type: none;
    margin-top: -5px;
}
.contacts-info-tel ul li {
    padding: 10px 0;
}
.contacts-info-tel a {
    font-family: 'Graphik', sans-serif;
    font-size: 13px;
}
.email-rock {
    padding-left: 24px;
}
.contacts-info-location {
    width: 100%;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: -2px;
    display: flex;
    flex-direction: column;
}
.contacts-info-location a {
    font-family: 'Graphik', sans-serif;
    font-size: 12px;
}
.contacts-info-location p {
    margin-top: -1px;
}
.contacts-info-location ul, .contacts-info-location2 ul {
    list-style-type: circle;
    margin-left: -1px;
    margin-top: 1px;
}
.contacts-info-location2 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
}
.contacts-info-location2 p {
    margin-top: -1px;
}
.contacts-info-location li, .contacts-info-location2 li {
    margin-left: -23px;
} 
.creator {
    border-top: #5e5a5a 1px solid;
    color: #ffffff;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;  
}
.creator-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 8%;    
}
.creator-social i {
    font-size: 25px;  
}

@media (min-width: 320px) and (max-width: 480px) {
    .home {
        width: 100%;
        height: 180px;
        padding: 10px 0;
        position: relative;
        margin: 0;
    }
    .home-text {
        width: 75%;
        display: flex;
        margin-right: 50px;   
    }
    .home-text img {
        width: 40px;
        height: 20px;
        align-self: flex-start;
    }
    .text-header {
        font-size: 9px;
        width: 75%;
        text-align: left;
        margin-top: 15px;
    }
    .home-text a {
        margin-top: -45px;
        font-size: 12px;
    }
    .items-img {
        width: 190px;
        height: 160px;
        position: absolute;
        right: -35px;
        bottom: -10px;
    }
    .home-backg {
        position: absolute;
        background-image: url(../img/Group-mob8.png) ;
        background-size: cover;
        right: 0;
        width: 220px;
        height: 210px;
    }
    .task {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        padding-top: 10px;
    }
    .task-text {
        width: 80%;
        margin: 0;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .task-text h1 {
        font-size: 18px;
        margin: 10px 0;
    }
    .task-text p {
        font-size: 12px;
        margin: 10px 0;
    }
    .design {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;  
    }
    .design-caption0 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;   
    }
    .design-caption0 h1 {
        font-size: 18px;
        text-align: center;
        margin: 0;
    }
    .design-caption1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .design-caption1-slade {
        align-self: center;
        width: 100%;
        padding-bottom: 10px;
    }
    .design-caption1-slade img {
        width: 80%;
        height: 180px;
        padding: 0;
        margin-left: 35px;
    }
    .design-caption1-outset {
        width: 80%;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    .design-caption1-outset h2 {
        font-size: 16px;
        text-align: justify;
    }
    .design-caption1-outset hr {
        position: relative;
        margin-inline-start: 10px;
        width: 20%;
    }
    .design-caption2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .design-caption2 img {
        padding-top: 10px;
        width: 80%;
        height: 180px;
    }
    .design-caption3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .design-caption3 img {
       margin-top: 10px;
       width: 80%;
       padding: 0;
       height: 180px;
    }
    .design-caption-backg {
        width: 99%;
        height:40%;
        position: absolute;
        left: -14px;
        top: 400px;
    }
    .booking-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: 80%;
        text-align: center;
        padding: 0;
    }
    .booking-header h1 {
        font-size: 18px;

    }
    .booking-header p {
        font-size: 12px;
        margin-top: 10px;
        padding: 0;
        margin-bottom: 0;
    }
    .booking-icons {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .table-title {
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .table-head {
        padding: 0;
        width: 96%;
        font-size: 12px;
    }
    .table-head th {
        padding: 0;
        font-size: 10px;
    }
    .table-head td {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    span {
        font-size: 10px;
    }
    .table-title h3 {
        font-size: 15px;
        text-align: left;
        align-self: flex-start;
        margin-left: 8px;
    }
    .mobile {
        width: 100%;
    }
    .mobile-header {
        color: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .mobile-header h1 {
        width: 90%;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    .mobile-header p {
        padding: 0;
        margin: 0;
        width:90%;
        font-size: 12px;
        text-align: center;
    }
    .mobile-info {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .mobile-info div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .mobile-info h1 {
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .mobile-info p {
        width: 100%;
        padding: 0;
        font-size: 12px;
        text-align: center;
    }
    .mobile-footer {
        padding: 0;
        width: 100%;
        position: relative;
    }
    .mobile-footer-outset {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }
    .mobile-footer-outset h1 {
        width: 100%;
        font-size: 18px;
    }
    .mobile-footer-outset p {
        color: rgb(207, 205, 205);
        width: 55%;
        font-size: 12px; 
        text-align: start;  
    }
    .mobile-footer-image {
        position: absolute;
        top: 40px;
        right: 0;
        width: 50%;
        height: 200px;
        margin-right: 5px;
    }
    .mobile-footer-image img {
        width: 100%;
        height: 200px;  
    }
    .other_work {
        width: 100%;
    }
    .other_work-header {
        padding: 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .other_work-header p {
        width: 100%;
        font-size: 12px;
    }
    .other_work-header a {
        padding: 0;
        margin: 0;
        align-self: flex-start;
    }
    .other_work-info {
        width: 90%;
        text-align: center;
    }
    .other_work-info h1 {
        font-size: 18px;
        width: 100%;
    }
    .other_work-info-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .other_work-info-img-1, .other_work-info-img-2 {
        width: 70%;
        margin-bottom: 10px;
    }
    .contacts {
        padding: 0;
        margin: 0;
    }
    .contacts-info {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
    .contacts-info-heading {
        width: 100%;
        padding: 0;
        margin-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .contacts-info-heading p {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        font-size: 12px;
        text-align: center;  
    }
    .contacts-info-heading a {
        align-self: center;
        padding: 0;
        margin: 0;
    }
    .contacts-info-tel {
        margin: 0;
        padding: 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contacts-info-tel ul {
        margin: 0;
        padding: 0;
        
        
    }
    .contacts-info-tel ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .email-rock {
        padding: 0;
        padding-left: 20px;
    }
    .contacts-info-location {
        margin: 0;
        padding: 0;
        width: 40%;
        
    }
    .contacts-info-location p, .contacts-info-location2 p  {
        font-size: 10px;
        padding: 0;
    }
    .contacts-info-location2 {
        margin: 0;
        padding: 0;
        width: 40%; 
    }
    .creator {
        width: 90%;
        margin-top: 20px;
    }
    .creator-social {
        margin-right: 20px;
    }
}
